* {
	padding: 0;
	margin: 0;
	color: #fff;
	text-shadow: 1px 2px 2px #000;
}

body {
	background-image: url("http://laramielive.com/files/2012/09/409444769_43f738dc16_z-630x419.jpeg");
	margin: 0;

}

ul {
	padding: 0;
}

h1 {
	font-size: 2em;
	display: inline-block;
}

nav {
	z-index: 9999;
	background-color: rgba(0, 102, 204, 0.90);
	text-align: center;
	position: fixed;
	width: 100%;
	height: 40px;
	border: 3px solid #000;
	font-size: 20px;
}

li {
	display: inline-block;
	margin: 7px 20px;
	padding: 2px 8px;
	border: 2px solid grey;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

section {
	text-align: center;
	padding-top: 75px;
}

img {
	max-width: 280px;
	object-fit: cover;
	height: 300px;
	width: 100%;
}

p, h2, h1 {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
}

.box {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

p {
	padding: 12px;
	border: 1px solid grey;
	border-radius: 7px;
	margin: 7px 7px 30px 7px;
	line-height: 28px;
	font-size: 20px;
}
p::first-letter {
	font-size: 30px;
	font-weight: bold;
}
h2 {
	margin-top: 12px;
}

h1 {
	margin-bottom: 12px;
	font-family: "Montserrat Subrayada";
	font-size: 45px;
	padding: 0 3px;
}

footer {
	padding: 6px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #06c;
	border-radius: 100%;
	text-align: center;
	width: 90%;
	margin: 0 5%;
}

footer li {
	background-color: grey;
	display: inline-block;
	margin: 12px;
	padding: 3px 6px;
	border: 2px solid #06c;
}

footer ul {
	display: inline-block;
}

/*Media Queries*/
@media(max-width: 857px) {
	.box {
		width: 50%;
		margin: 0 25%;
		display: block;
	}
}
@media(max-width: 570px) {
	.box {
		width: 80%;
		margin: 0 10%;
	}
}
@media(max-width: 432px) {
	a {
		font-size: 14px;
	}
	li {
		margin: 7px;
	}
}